.App {
	text-align: center;
}

.jumbo-color {
	background: linear-gradient(to bottom, #ffffcc 0%, #ffff99 100%);
}

.App-link {
	color: #61dafb;
}

.navbar-style {
	background-color: #910606;
}

.text-link {
	color: white;
}

.work-sans {
	font-family: "Work Sans", sans-serif;
}
